* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-sesrif;
}

img {
	max-width: 100%;
	display: inline-block;
}

/* 页面头部  */
.h-left a,#show_more{background:url(../images/top.png) no-repeat;background-size: auto 230px;}
.header { width:100%; height:45px; background:#ffffff;top:0; z-index:9999; border:0; border-bottom:1px solid #CCC}
.h-left{float:left;width:30px; height:45px;}
.h-left a{ display:block; width:30px; height:45px; background-position:5px 9px; }

.h-right{float:right; width:30px;height:45px; line-height:45px; margin-right:10px;}
.top_bar{float:right; display:block; width:30px; height:45px;}
#show_more{width:30px; height:45px;background-position:5px -28px;}

.h-mid { height:45px; float:left; text-align:left; color:#666; font-size:18px; line-height:45px; position:relative;font-family: "宋体", "宋体", Arial, Helvetica, sans-serif;}
.h-mid h6 { color:#333; font-size:16px; font-family: "宋体", "宋体", Arial, Helvetica, sans-serif; font-weight:normal;}


#shipping {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(244,248,252,1);
}

#shipping #rotate-swiper {
	height: 100%;
}

#shipping .rotate-slide {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#shipping .block {
	width: calc(100% - 34px);
	margin-left: 17px;
	height: 82%;
	margin-top: 15%;
	transform-origin: 0 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 0.5em;
}

#shipping .block .headerr {
	color: #090909;
}

#shipping .block .headerr h3 {
	font-size: 0.6em;
    padding: 0.7em 0;
    font-weight: normal;    
    color: #9d9d9d;
    margin: 0;margin-left: 3rem;
}
#shipping .block .headerr h3 p{
	font-size: 2.0em;
    font-weight: normal;
    color: #090909;
    margin: 0;
}
#shipping .block .headerr h3 p span{
	font-size: 0.6em;
    font-weight: normal;
    color: #090909;
    margin: 0;
}
.timer{
	float: left;
}
.clear{
	clear: both;
}

#shipping .block .headerr h4 {
	font-size: 0.6em;
    padding: 0.7em 0;
    font-weight: normal;    
    color: #9d9d9d;
    margin: 0;margin-left: 12rem;
}
#shipping .block .headerr h4 p{
	font-size: 2.0em;
    font-weight: normal;
    color: #090909;
    margin: 0;
}
#shipping .block .headerr h4 p span{
	font-size: 0.6em;
    font-weight: normal;
    color: #090909;
    margin: 0;
}


#shipping .block .headerr .top-info {
	padding: 0 4%;
	box-sizing: border-box;
	position: relative;
}

#shipping .block .headerr .img {
	width: 24%;
	float: left;
}

#shipping .block .headerr .txt {
	font-size: 0.7em;
    width: 70%;
    height: 80%;
    float: left;
    margin-left: 24%;
    background: #f0f0f0;
    position: absolute;
    top: 6px;
    z-index: 333;
}

#shipping .block .headerr .txt h6 {
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
    margin: 0;
    letter-spacing: 0.1em;
    padding-left: 0.8rem;
    padding-top: 0.6rem;
}
#shipping .block .headerr .txt p{
	padding-left: 0.8rem;color: #9d9d9d;
}
#shipping .block .headerr .txt p.last {
	font-size: 1.3em;
}

#shipping .block .headerr .icon {
	width: 4%;
	float: right;
}

#shipping .block .headerr .icon i {
	margin-top: 1em;
	display: block;
}

#shipping .block .body {
	flex: 1;
	overflow: hidden;
}

#shipping .block .body .swiper-container {
	height: 100%;
}

#shipping .block .body .swiper-slide {
	height: auto;
}

#shipping .block .body .swiper-slide ul {
	padding: 1em 0;
}

#shipping .block .body .swiper-slide li {
	padding: 0.7em 0;
	position: relative;
	list-style: none;
	z-index: 10;
}

#shipping .block .body .swiper-slide li:after {
	content: '';
	position: absolute;
	z-index: 9;
	left: 20%;
	top: 0;
	border-left: 1px solid #ddd;
	height: 100%;
}

#shipping .block .body .swiper-slide li:first-child:after {
	height: 50%;
	top: 50%;
}

#shipping .block .body .swiper-slide li:last-child:after {
	height: 50%;
}

#shipping .block .body .swiper-slide li {
	display: table;
	width: 100%;
}

#shipping .block .body .swiper-slide li div {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

#shipping .block .body .swiper-slide li div:first-child {
	width: 18%;
	padding-left: 3%;
	font-size: 0.8em;
	text-align: center;
}

#shipping .block .body .swiper-slide li div span {
	display: block;
	font-size: 0.8em;
}

#shipping .block .body .swiper-slide li div:nth-child(2) {
	width: 4.2%;
	text-align: center;
}

#shipping .block .body .swiper-slide li div:nth-child(2) i {
	width: 5px;
	height: 5px;
	background: #ddd;
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	z-index: 10;
}

#shipping .block .body .swiper-slide li.big-icon div:nth-child(2) i {
	border: 1px solid #ddd;
    width: 0.5em;
    height: 0.5em;
    background: #000;
    color: #ccc;
    left: 0.08rem;
}

#shipping .block .body .swiper-slide li.big-icon div:nth-child(2) i:before {
	font-size: 1.2em;
	margin-top: 0.3em;
	display: block;
}

#shipping .block .body .swiper-slide li div:last-child {
	padding-left: 2%;
	padding-right: 2%;
}

#shipping .block .footer {
	line-height: 4;
	font-size: 0.7em;
	text-align: center;
	border-top: 1px solid #eee;
}

#shipping .swiper-pagination {
	top: 3%;
	bottom: auto;
}

#shipping .swiper-pagination .swiper-pagination-bullet,#shipping .swiper-pagination .swiper-pagination-bullet-active {
	background: #fff;
}

#shipping .close-btn {
	height: 3em;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: #fff;
	z-index: 30;
}

#shipping .close-btn i:before {
	font-size: 2em;
	padding: 0.1em;
	border: 2px solid #fff;
	border-radius: 100%;
	font-weight: lighter;
}

#show-shipping {
	background: #0c90f2;
	color: #fff;
	text-align: center;
	width: 50%;
	margin-left: 25%;
	height: 6vh;
	line-height: 6vh;
	margin-top: 47vh;
	border-radius: 5px;
}		
			