body { font-size: 14px;min-width:320px; }
input[type="hidden" i], input[type="image" i], input[type="file" i] {
  -webkit-appearance: initial;
  padding: initial;
  background-color: initial;
  border:none;
}
.clear { clear: both; height: 10px; line-height: 10px; visibility: none }


/*=============================购物车====================================*/
.qb_tac {
  text-align: center;
  color: #534949;
  line-height: 40px;
  color: #999;
  font-size: 18px;
  margin-top: 20px;
}
.qb_gap {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.mod_btn {
  text-align: center;
  text-decoration: none;
  line-height: 45px;
  height: 45px;
  font-size: 15px;
  display: block;
  width: 100%;
  color: #ffffff!important;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  -ms-border-radius: .3em;
  -o-border-radius: .3em;
  border-radius: .3em;
  background-color: #DD2726;
}


/*fnav icon*/
.fnav{width:100%;height:3.8rem;line-height:3.8rem;text-align:center;position:fixed;bottom:0;left:0;right:0;z-index:10;background-color:#fff;border-top:1px solid #e5e5e5;}
.fnav li{width:33.3%;float:left;position:relative;}
.fnav a{display:block;height:3.8rem;background-size:2.1rem 2.1rem;background-position:50% 0.3rem;background-repeat:no-repeat;font-size:1rem;color:#5d656b;line-height:6rem;overflow:hidden;}
.fzav a{background-size:1.8rem 1.8rem;background-position:50% 50%;}
.f_home{
    background: url(../images/n1.png);
}
.f_cat{ background: url(../images/n2.png);}
.f_car{ background: url(../images/n31.png);}
.f_user{background: url(../images/n4.png);}
.fnav a.fnav_on{color: #421a8e; }

.f_cat.fnav_on{background: url(../images/n21.png);}
.f_user.fnav_on{background: url(../images/n41.png);}

